* {
    padding: 0px;
    margin: 0px;
}

.fUpload_area {
    width: 600px;
    height: 400px;
    margin: 100px auto;
}


.fileField {
    width: 600px;
    height: 400px;
    border: 2px dashed red;
    display: table-cell;
    text-align: center;
}
/*Drop and open files in Citrix Workspace*/
.tips1 {
    height: 30px;
    font-size: 20px;
    margin-top: 160px;
    color: rgb(99,99,99);
    font-weight: bold;
    line-height: 30px;
}

/*Hold shift to upload to Ctrix Files directly*/
.tips2 {
    height: 30px;
    color: rgb(190,190,190);
    line-height: 30px;
}

/*shift 图标*/
.shift_icon {
    display: inline-block;
    width: 50px;
    height: 20px;
    background-color: rgb(236,236,236);
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(193,193,193);
    text-align: center;
    line-height: 20px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.file {
    width: 300px;
    height: 30px;
    line-height: 30px;
    color: rgb(190,190,190);
    margin: 20px auto 0;
    border: 2px dotted green;
}

.upload {
    width: 50px;
    height: 30px;
    margin-top: 10px;
}